.idea/
.idea/*
*.iml
lib_managed/
target/
.idea_modules/
*.test
*.jks
*.pem
credentials.txt
logs
dist
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
